@charset "utf-8";
body{
    background-color: #84f2639d;
    font-family: Arial, Helvetica, sans-serif;
}
#principal{
    text-align: center;
    background-color: #38662A;
    color: white;
}
h1{
    color: #38662A;
    text-shadow: 1px 1px 2px #38662a83;
}
.basico{
    color: rgba(55, 168, 55, 0.829);
    font-weight: bold;
}
.intermediario{
    color: rgb(209, 212, 28);
}
.avançado{
    color: rgba(153, 40, 40, 0.938);
    font-weight: bold;
}
.fundobas{
    background-color: rgba(154, 212, 38, 0.877);
}
.fundointer{
    background-color: rgba(160, 160, 17, 0.719);
}
.fundoavan{
    background-color: #7c030396;
}